@import "./style.css";
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

// css inspired by https://codepen.io/alvaromontoro/pen/BaaBYyz

body {
	background-color: green;

	h1 {
		color: white;
	}
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1;
	font-family: Acme, Arial, sans-serif;
  }
  
  form {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  }

h1 {
	text-align: center;
}

#hands {
	text-align: center;
}

.hand {
	margin: 20px;
	width: 200px;
	height: 200px;
	position: relative;
	transform: rotate(0deg);
	display: inline-block;
}

.hand > div {
	position: absolute;
	box-sizing: border-box;
	border: 2px solid black;
	background: gold;
	transition: all 0.1s;
}

.fist {
	height: 110px;
	left: 40px;
	top: 50px;
	width: 90px;
	border-radius: 20px 0 0 20px;
}

.finger {
	width: 70px;
	height: 30px;
	border-radius: 20px;
	left: 80px;
	transform-origin: 0 50%;
}

.finger-1 {
	top: 50px;
	--dif: 0px;
}
.finger-2 {
	top: 78px;
	left: 84px;
	--dif: 4px;
}
.finger-3 {
	top: 106px;
	--dif: 0px;
}
.finger-4 {
	top: 134px;
	height: 26px;
	left: 76px;
	--dif: -8px;
}

div.thumb {
	width: 35px;
	height: 70px;

	border-radius: 0 20px 20px 20px;
	top: 50px;
	left: 80px;
	border-left: 0 solid;
	box-shadow: -17px 6px 0 -15px black;
}

div.arm {
	width: 22px;
	height: 70px;
	left: 20px;
	top: 70px;
	border: 0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#player2-hand {
	transform: rotateY(180deg);
	position: relative;
}

.scissors {
	.finger-1 {
		width: 130px;
		transform: rotate(-5deg);
	}
	.finger-2 {
		width: 130px;
		transform: rotate(5deg);
	}
}

.paper {
	.finger-1,
	.finger-2,
	.finger-3,
	.finger-4 {
		left: 124px;
		left: calc(124px + var(--dif));
		width: 80px;
		border-left: 0;
		border-radius: 0 20px 20px 0;
	}
}



#hands {
	display: flex;
	align-items: center;
	justify-content: center;
  }

    
  #message {
	text-align: center;
  }
  
  input:checked ~ #message {
	display: block;
  }
  
  #hands {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  #player2-options {
	width: 30px;
	height: 300px;
	display: inline-flex;
	flex-direction: column;
  }
  
  #player2-options > button {
	display: block;
	position: absolute;
	user-select: none;
  }

  #player2-options > div {
	flex: 1;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	overflow: hidden;
	position: relative;
  }
    
  
  button {
	animation: changeOrder 0.45s infinite linear;
	background: #f5f5f5;
	border: 1px solid #ccc;
	box-sizing: border-box;
	cursor: pointer;
	height: 60px;
	width: 60px;
	line-height: 60px;
	font-size: 2rem;
	top: 0;
	left: 0;
  }
  
  .score {
	color: rgb(224, 224, 224);
	height: 20vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
  }
  .score h2 {
	font-size: 30px;
  }
  .score strong {
	text-align: center;
	padding: 10px;
	font-size: 25px;
  }